  /* headerのスタイル */
.header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* リンクのスタイル */
.anchor {
  display: inline-block;
  padding: 8px 24px;
  font-size: 1.2rem;
}

  /* リンクホバー時などのスタイル */
.anchor:hover,
.anchor:focus,
.anchor:active {
  color: #0070f3;
}